//-formations assurance 
mj-section(padding="20px" padding-bottom="0px" background-color="#ffffff")
    mj-column(width="88%")
        mj-text(align="center" padding="0" mj-class="T24-300 cT1") Nos formations en Assurance et Banque de Bac+2 à Bac+5
//-formation BTS Assurance
mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="30%")
        mj-image(padding="0" width="224px" src="https://i.ibb.co/j9C8DVYb/form05-Assu-Jpo24052025.png" alt="Formation BTS Assurance")/
    mj-column(width="70%")    
        mj-spacer(height="20px")
        mj-text(align="left" padding="0px 15px" mj-class="T13-700 cT1" text-transform="uppercase" letter-spacing="1px") Formation en apprentissage
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="font-weight:700;color:#944694;") BTS] Assurance
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac,
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 2 ans],
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation gratuite et rémunérée.
        mj-button(padding-top="15px" target="_blank" href="https://ecosup-assurance.fr/bts-assurance/") 
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/7xWPH2pL/fleche-Assurance.png" alt="flèche assurance")/]
mj-section(padding="0")
    mj-column
        mj-spacer(height="10px")
//-formation Bachelor Chargé(e) de clientèles en assurance et banque      
mj-section(padding="20px" background-color="#ffffff" direction="rtl")
    mj-column(width="30%")
        mj-image(padding="0" width="224px" src="https://i.ibb.co/99qvBTgg/form01-Assu-Jpo24052025.png" alt="Bachelor Chargé(e) de clientèles en assurance et banque")/
    mj-column(width="70%")
        mj-spacer(height="20px")
        mj-text(align="left" padding="0 15px" mj-class="T13-700 cT1" text-transform="uppercase" letter-spacing="1px") Formation en apprentissage
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="font-weight:700;color:#944694;") Bachelor] Chargé(e) de clientèles en assurance et banque
        mj-text(align="left" padding="0px 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac+2,
        mj-text(align="left" padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 1 an],
        mj-text(align="left" padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Le Plus : Programme élaboré en collaboration avec l' #[span(style="font-weight:700;color:#1a1a1a;") ESA],
        mj-text(align="left" padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation gratuite et rémunérée.
        mj-button(padding-top="15px" target="_blank" href="https://ecosup-assurance.fr/bachelor-charge-clienteles-assurance-banque/")
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/7xWPH2pL/fleche-Assurance.png" alt="flèche assurance")/]  
mj-section(padding="0")
    mj-column
        mj-spacer(height="10px")
//-formation Mastère Expert(e) en ingénierie patrimoniale
mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="30%")
        mj-image(padding="0" width="224px" src="https://i.ibb.co/cS5S28bW/form04-Assu-Jpo24052025.png" alt="Mastère Expert(e) en ingénierie patrimoniale")/
    mj-column(width="70%")
        mj-spacer(height="20px")
        mj-text(align="left" padding="0px 15px" mj-class="T13-700 cT1" text-transform="uppercase" letter-spacing="1px") Formation en apprentissage
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="font-weight:700;color:#944694;") Mastère] Expert(e) en ingénierie patrimoniale
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac+3,
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 2 ans],
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Le Plus : programme élaboré en collaboration avec l' #[span(style="font-weight:700;color:#1a1a1a;") ESA],
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0")
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation gratuite et rémunérée.
        mj-button(padding-top="15px" target="_blank" href="https://ecosup-assurance.fr/mastere-expert-en-ingenierie-patrimoniale/")
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/7xWPH2pL/fleche-Assurance.png" alt="flèche assurance")/]
