//-Header Tourisme
mj-section(mj-class="bg0" padding="10px 20px")
    mj-column
        mj-image(padding="0" align="left" width="153px" src="https://i.ibb.co/bP0LZ5M/logo-Assurance-Blanc.png" alt="logo Ecosup Assurance")/
mj-section(background-color="#ecebf3" padding="10px 20px")
    mj-group(width="60%")
                mj-column(vertical-align="middle")
                    mj-image(padding="0" align="right" width="70px" src="https://i.ibb.co/mJ8m8cb/logo-Graftonjpo12142024.png" alt="logo Grafton recruitment")/
                mj-column(vertical-align="middle")
                    mj-image(padding="0" align="center" width="50px" src="https://i.ibb.co/G09QhCx/logo-BNIjpo12142024.png" alt="logo BNI")/
                mj-column(vertical-align="middle")
                    mj-image(padding="0" align="left" width="70px" src="https://i.ibb.co/FgxXSyj/Logo-Atlasjpo12142024.png" alt="logo Atlas opco")/
mj-section(background-color="#ecebf3" padding="0")
    mj-column
        mj-image(padding="0" width="600px" src="https://i.ibb.co/RkWjYSvz/jpo24052025-T01.png" alt="Embarquement sur l'aeroport d'un pays")/
        mj-image(padding="0" width="600px" src="https://i.ibb.co/cXtXJk4S/jpo24052025-01.png" alt="affiche de la jpo du samedi 24 mai 2025")/
mj-section(background-color="#ffffff" padding="20px")  
    mj-column(width="88%")
        mj-text(padding="5px 10px" mj-class="T36-900 c0") Votre carrière dans l'Assurance et la Banque commence ici, à nos côtés ! 
        mj-text(padding="5px 10px" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") {{ contact.PRENOM }}], les métiers de l'Assurance et de la Banque vous passionnent&nbsp;? Faites de votre ambition une réalité avec une formation diplômante qui propulse votre avenir&nbsp;! 
        mj-text(padding="5px 10px" mj-class="T16-400 cT0") Rejoignez-nous ce #[span(style="font-weight:700;color:#1a1a1a;") samedi 24 mai de 9h30 à 13h] pour une immersion unique :
        mj-text(padding="0px 10px" mj-class="T16-400 cT0") #[span(style="font-size:20px;line-height:20px;") &#x1F680;] 
            | #[span(style="font-weight:700;color:#1a1a1a;") Découvrez] un campus moderne, #[span(style="font-size:20px;line-height:20px;") &#x1F4AC;] #[span(style="font-weight:700;color:#1a1a1a;") Échangez] avec des experts et des étudiants inspirants,
            | #[span(style="font-size:20px;line-height:20px;") &#x1F4E2;] #[span(style="font-weight:700;color:#1a1a1a;") Assistez] à des présentations motivantes sur nos programmes,
            | #[span(style="font-size:20px;line-height:20px;") &#x2753;] #[span(style="font-weight:700;color:#1a1a1a;") Posez] toutes vos questions sur les admissions et la vie étudiante,
            | #[span(style="font-size:20px;line-height:20px;") &#x1F50E;] #[span(style="font-weight:700;color:#1a1a1a;") Vivez] l'expérience et donnez un vrai coup d'accélérateur à votre carrière.
        mj-text(padding="5px 10px" mj-class="T16-400 cT0") Ne manquez pas cette opportunité qui façonnera votre avenir&nbsp;!
        mj-text(align="right" padding="0px 30px" mj-class="T16-700 cT1") Christian Annaloro
        mj-text(align="right" padding="0px 30px" mj-class="T16-400 cT0") Responsable pédagogique
        mj-text(align="right" padding="0px 30px" mj-class="T16-400 cT0") Ecosup Assurance
        mj-button(padding="0" padding-top="20px" width="280px" mj-class="T16-700 bg0 cTW") #[span(style="text-transform:uppercase;") Journée Portes Ouvertes] samedi 24 mai de 9h30 à 13h