//-vie du campus ecosup-campus
mj-wrapper(background-color="#e6e6e6" padding="20px")
    mj-section(padding="0px")
        mj-group(width="100%")
            mj-column(width="25%")
                mj-image(padding="1px" width="300px" src="https://i.ibb.co/zhH6pvxx/jpo06-Hot2025article.png" alt="Affiche de l'opération Mardi gras et Carnaval à Ecosup Campus")/
            mj-column(width="25%")
                mj-image(padding="1px" width="300px" src="https://i.ibb.co/dw1NjsBT/03jpo2025article-SM.png" alt="Mardi gras et Carnaval à Ecosup Campus")/
            mj-column(width="25%")
                mj-image(padding="1px" width="300px" src="https://i.ibb.co/WpM5PrGb/jpo02-Tour2025article.png" alt="Collecte de jouets pour les enfants")/
            mj-column(width="25%")
                mj-image(padding="1px" width="300px" src="https://i.ibb.co/mFtVmHqZ/jpo01-Tour2025article.png" alt="Affiche de la chasse aux oeufs")/
        mj-group(width="75%")
            mj-column(width="33.333333%")
                mj-image(padding="1px" width="300px" src="https://i.ibb.co/xSyz12V7/01jpo2025article-SM.png" alt="Etudiants et Intervenants participent à l'opération Movember sur la lutte contre le cancer de la prostate")/
            mj-column(width="33.333333%")
                mj-image(padding="1px" width="300px" src="https://i.ibb.co/tMJ7BXR2/jpo02-Hot2025article.png" alt="Affiche de Movember sur la lutte contre le cancer de la prostate")/
            mj-column(width="33.333333%")
                mj-image(padding="1px" width="300px" src="https://i.ibb.co/Wv5sRKPq/jpo03-Tour2025article.png" alt="Affiche de la collecte des jouets")/
        mj-column(width="25%")
            mj-image(padding="1px" width="300px" src="https://i.ibb.co/xtNt9KbL/04jpo2025article-SM.png" alt="Remise de diplômes")/
    mj-section(padding="0px")
        mj-column(width="100%")
            mj-text(align="center" padding="20px 25px" padding-bottom="0px" mj-class="T24-300 cT1") Vie étudiante à Ecosup Campus
            mj-text(align="center" padding="0" padding-bottom="10px" mj-class="T13-400 cT0") suivez nous sur les réseaux sociaux
        mj-column(width="100%")
            mj-social(align="center" padding="0 25px" icon-size="30px" icon-height="30px" inner-padding="20px" mode="horizontal")
                mj-social-element(src="https://i.ibb.co/21x26WkF/commerce-Facebook.png" href="https://www.facebook.com/EcosupCamp/" target="_blank" alt="icon facebook")
                mj-social-element(src="https://i.ibb.co/8Dx3DN1d/commerce-Instagram.png" href="https://www.instagram.com/ecosup.campus/" target="_blank" alt="icon instagram")
                mj-social-element(src="https://i.ibb.co/pjkBg8Cp/commerce-Linkedin.png" href="https://www.linkedin.com/company/ecosup-campus" target="_blank" alt="icon linkedin")