//-formations AEPE 
mj-section(padding="20px" padding-bottom="0px" background-color="#ffffff")
    mj-column(width="88%")
        mj-text(align="center" padding="0" mj-class="T24-300 cT1") Notre formation Petite Enfance
//-formation en apprentissage
mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="30%")
        mj-image(padding="0" width="224px" src="https://i.ibb.co/HfTwpFDJ/form02-AEPEJpo24052025.png" alt="Formation accompagnante éducatif petite enfance")/
    mj-column(width="70%")    
        mj-spacer(height="20px")
        mj-text(align="left" padding="0px 15px" mj-class="T13-700 cT1" text-transform="uppercase" letter-spacing="1px") Formation en apprentissage
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="font-weight:700;color:#2daae1;") AEPE] Accompagnant(e) éducatif petite enfance
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac,
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 12 mois],
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation gratuite et rémunérée.
        mj-button(padding-top="15px" target="_blank" href="https://ecosup-sante.fr/accompagnant-petite-enfance") 
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/35n26cRp/fleche-AEPE.png" alt="flèche aepe")/]
mj-section(padding="0")
    mj-column
        mj-spacer(height="10px")
//-formation en initial        
mj-section(padding="20px" background-color="#ffffff" direction="rtl")
    mj-column(width="30%")
        mj-image(padding="0" width="224px" src="https://i.ibb.co/5XNNVS0P/form01-AEPEJpo24052025.png" alt="Formation accompagnant éducatif petite enfance")/
    mj-column(width="70%")
        mj-spacer(height="20px")
        mj-text(align="left" padding="0 15px" mj-class="T13-700 cT1" text-transform="uppercase" letter-spacing="1px") Formation en initial
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="font-weight:700;color:#2daae1;") AEPE] Accompagnant(e) éducatif petite enfance
        mj-text(align="left" padding="0px 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac,
        mj-text(align="left" padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 12 mois],
        mj-text(align="left" padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation initiale ou continue. Financement possible grâce à la mobilisation du CPF ou autres organismes extérieurs.
        mj-button(padding-top="15px" target="_blank" href="https://ecosup-sante.fr/accompagnant-petite-enfance")
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/35n26cRp/fleche-AEPE.png" alt="flèche aepe")/]