//-formations Supveto 
mj-section(padding="20px" padding-bottom="0px" background-color="#ffffff")
    mj-column(width="88%")
        mj-text(align="center" padding="0" mj-class="T24-300 cT1") Nos formations en Santé animale de Bac à Bac+3
//-formation Auxiliaire spécialisé vétérinaire
mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="30%")
        mj-image(padding="0" width="224px" src="https://i.ibb.co/8LHtBY2P/form02-Supveto-Jpo24052025.png" alt="formation Auxiliaire spécialisé vétérinaire")/
    mj-column(width="70%")    
        mj-spacer(height="20px")
        mj-text(align="left" padding="0px 15px" mj-class="T13-700 cT1" text-transform="uppercase" letter-spacing="1px") Formation en initial
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="font-weight:700;color:#008853;") ASV] Auxiliaire spécialisé(e) vétérinaire
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac,
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 24 mois],
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation initiale ou continue. Financement possible grâce à la mobilisation du CPF ou autres organismes extérieurs.
        mj-button(padding-top="15px" target="_blank" href="https://ecosup-sante.fr/auxiliaire-specialise-veterinaire") 
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/rKXwRZck/fleche-Supveto.png" alt="flèche Sup-Veto")/]
mj-section(padding="0")
    mj-column
        mj-spacer(height="10px")
//-formation Bachelor Chargé(e) de gestion et de management en structure animalière       
mj-section(padding="20px" background-color="#ffffff" direction="rtl")
    mj-column(width="30%")
        mj-image(padding="0" width="224px" src="https://i.ibb.co/wN80rNFD/form01-Supveto-Jpo24052025.png" alt="Formation chargée de gestion et management en structure animalière")/
    mj-column(width="70%")
        mj-spacer(height="20px")
        mj-text(align="left" padding="0 15px" mj-class="T13-700 cT1" text-transform="uppercase" letter-spacing="1px") Formation en apprentissage
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="font-weight:700;color:#008853;") Bachelor] Chargé(e) de gestion et de management en structure animalière
        mj-text(align="left" padding="0px 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac+2,
        mj-text(align="left" padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 18 mois],
        mj-text(align="left" padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation gratuite et rémunérée.
        mj-button(padding-top="15px" target="_blank" href="https://ecosup-sante.fr/bachelor-charge-de-gestion-et-de-management-en-structure-animaliere")
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/rKXwRZck/fleche-Supveto.png" alt="flèche Sup-Véto")/]
